
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Envite</title>
</head>

<body>

<!--

-->

<h2><font size="20">Please swipe card</font></h2>

    <form action="/getID" method="post">
        ID: <input name="enterID" type="text" autofocus="autofocus"><br>
        <input type="submit" value="Submit Info">
        <input type="reset" value="Reset">
    </form>


<script>
function count_rabbits() {
    for (var i = 1; i <= 3; i++) {
        alert("Rabbit " + i + " out of the hat")
    }
}
</script>

<body>
    <input type="button" onclick="count_rabbits()" value="Count">
</body>

<div id='table-container'></div>

<script>
  CsvToHtmlTable.init({
    csv_path: '/Applications/PyCharm.app/Contents/bin/attendees.csv',
    element: 'table-container',
    allow_download: true,
    csv_options: {separator: ',', delimiter: ','},
    datatables_options: {"paging": false}
  });
</script>

<body>
<input type="button" onclick="CsvToHtml">
</body>


</body>

</html>